body{
    margin: 0px;
    background-color: rgb(105, 116, 122);
}

h1 {
    color: rgb(163, 100, 100);
}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(5, 5, 5);
    padding: 20px;
    text-align: center;
    background-color: rgb(65, 74, 76);
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color: rgb(244, 243, 243);
    font-size: 20px;
}

.navbar a:hover{
    color: rgb(75, 82, 84);
    background-color: rgb(131, 155, 155);
}

.card{
    border: 1px solid rgb(3, 3, 3);
    width: 350px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    overflow: hidden;
    /* margin-left: 40%; */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

.card img{
    /* width: 300px; */
    width: 100%;
}

.card button{
    border-style: none;
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    background-color: rgb(189, 203, 207);
}